# Supabase Configuration
# Reemplaza estos valores con los de tu proyecto Supabase
PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/deqwjyvqchtsexttwftl
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlcXdqeXZxY2h0c2V4dHR3ZnRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwMDMzMDgsImV4cCI6MjA4NzU3OTMwOH0.soQ9wQyd2lQ-q5xi-YaARIMmTgecuErsBAgale85wpA
